# {{ ansible_managed }}

server {
    listen 80;
    listen 443 ssl;

    server_name th73.ovh;
    index index.html index.htm;

    {% if nginx_disable_ssl is not defined %}
    ssl_certificate /etc/letsencrypt/live/th73.ovh-0001/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/th73.ovh-0001/privkey.pem;
    {% endif %}

    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    }
}
